<header>
  <h2>{{ result.name }}</h2>

  
</header>

<p>{{ result.description }}</p>
<p>
  For more information, visit
  <a href="{{ result.website }}">Our Website</a>
</p>
  {{#each result.locPicture}}
  <img src="{{ this }}" alt="skiresort" />
  {{/each}}

  {{#if isUserLoggedIn}}
  <form action="/bookpass" method="POST">
    <input
      value="{{ result.id }}"
      type="text"
      name="id"
      style="display: none"
    />
    <button type="submit">Book ski pass</button>
  </form>

  {{else}}
  <a href="/signin?locationid={{ result.id }}">Sign in to book now</a>
  {{/if}}
</main>
