<header>
  <h2>All locations</h2>

  <form action="/locations" method="GET">
    <label for="country">Pick a country:</label>
    <select name="country" id="country">
      {{#each uniques}}
      <option value="{{ this }}">{{ this }}</option>
      {{/each}}
    </select>
    <button type="submit">Filter</button>
  </form>
</header>

{{#each result}}
<div
  class="location"
  style="
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
      url('public/{{ locPicture.[0] }}');
  "
>
  <p id="name">{{ this.name }}</p>
  <p id="location">Country: {{ this.location }}</p>
  <a href="/locations/{{ this.id }}">More info</a>
</div>
{{/each}}
