<main>
  <h2>Welcome to {{ result.name }}</h2>

  <h3>{{ result.name }} in a nutshell</h3>
  <p>random location description</p>

  <h2>Book your memories</h2>

 <img src="{{result.locPicture}}" alt="skiresort">

  {{#if isUserLoggedIn}}
  <form action="/bookpass" method="POST">
    <input
      value="{{ result.id }}"
      type="text"
      name="id"
      style="display: none"
    />
    <button type="submit">Book ski pass</button>
  </form>

  {{else}}
  <a href="/signin?locationid={{ result.id }}">Sign in to book now</a>
  {{/if}}
  
</main>
