<h2>All locations</h2>

<form action="/locations" method="GET">
  <label for="country">Country:</label>
  <select name="country" id="country">
    {{#each uniques}}
    <option value="{{ this }}">{{ this }}</option>
    {{/each}}
  </select>
  <button type="submit">Search</button>
</form>
{{#each result}}
<div>
  <p>Name: {{ this.name }}</p>
  <p>Country: {{ this.location }}</p>
  <a href="/locations/{{this.id}}">More info</a>
</div>
<br />
{{/each}}
